.qatar {
  $constant: 27px;
  $height: 11;
  $width: 28;

  height: $height * $constant;
  width: $width * $constant;
  border: 1px solid #ccc;
  background-color: #8d1b3d;
  overflow: hidden;

  .white {
    height: 100%;
    width: 33.333%;
    float: left;
    background-color: #FFF;
  }

  @mixin triangle($top, $left) {
      float: left;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 42px solid #fff;
      -moz-transform:    rotate(90deg);
      -webkit-transform: rotate(90deg);
      -ms-transform:     rotate(90deg);
      -o-transform:      rotate(90deg);
  }

  .triangle-container {
    height: 11.11%;
    width: 66.66%;
    display: block;
    float: left;

    .triangle {
      float: left;
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 82px solid #fff;
      -moz-transform:    rotate(90deg);
      -webkit-transform: rotate(90deg);
      -ms-transform:     rotate(90deg);
      -o-transform:      rotate(90deg);
    }
  }

  .first {
    margin-top: -25px;
  }

  //Color and Dimensions
  //http://en.wikipedia.org/wiki/Flag_of_Qatar
}
