@mixin star($size, $mtop, $mleft, $color) {

  #star {
   float: left;
   margin: $mtop $mleft;
   position: relative;
   display: block;
   color: $color;
   width: 0px;
   height: 0px;
   border-right:  (100px * $size) solid transparent;
   border-bottom: (70px * $size)  solid $color;
   border-left:   (100px * $size) solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
  }
  #star:before {
   border-bottom: (80px * $size) solid $color;
   border-left: (30px * $size) solid transparent;
   border-right: (30px * $size) solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px * $size;
   left: -65px * $size;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
  }

  #star:after {
   position: absolute;
   display: block;
   color: $color;
   top: 3px * $size;
   left: -105px * $size;
   width: 0px;
   height: 0px;
   border-right: (100px * $size) solid transparent;
   border-bottom: (70px * $size) solid $color;
   border-left: (100px * $size) solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
  }
}



// United States Flag 
.united-states {

  $constant: 400px;
  $height: 1;
  $width: 1.9;

  height: $height * $constant;
  width: $width * $constant;
  border: 1px solid #ccc;
  border-bottom: none;
  position: relative;

  .row {
    width: 100%;
    height: 7.692307%;
    float: left;
  }

  .red {
    background-color: #B22234;
  }

  .white {
    background-color: #FFFFFF;
  }

  .square {
    background-color: #3C3B6E;
    height: 53.85%;
    width: .76 * $constant;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 100;
    //margin-top: 5px;
  }

  .star-space {
    width: 100%;
    height: 5px;
    float: left;
  }

  .star-row {
    width: 100%;
    height: 22px;
    float: left;
  }

  .star-row-five {
    width: 100%;
    height: 22px;
    float: left;
    padding-left: 27px;
  }

  @include star(.1, 11px, 15px, white);

  //Color and Dimensions
  //http://en.wikipedia.org/wiki/Us_flag
  //http://www.usflag.org/flagspecs.html
}
