<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="header">
<div class="large-wrapper">
  <h1>CSS Flags</h1>
  <div class="button">Contribute or Use Flags on Github</div>
  <div class="line"></div>
  <p>A collection of flags from various countries created in only CSS and HTML. Contribute here by creating a flag from any country or improving one.</p>
</div>
</div>

<div class="small-wrapper">

  <h2>United States</h2>
  <!-- <p>by @zachferland</p> -->
  <!-- United States Flag -->
  <div class="united-states">
    <div class="square">
      <div class="star-space"></div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
    </div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
  </div>
  <!-- End -->


  <h2>Italy</h2>
  <!-- Italy Flag -->
  <div class="italy">
    <div class="column green"></div>
    <div class="column white"></div>
    <div class="column red"></div>
  </div>
  <!-- End -->


  <h2>Indonesia</h2>
  <!-- Indonesia Flag -->
  <div class="indonesia">
    <div class="row red"></div>
    <div class="row white"></div>
  </div>
  <!-- End -->


  <h2>France</h2>
  <!-- France Flag -->
  <div class="france">
    <div class="column blue"></div>
    <div class="column white"></div>
    <div class="column red"></div>
  </div>
  <!-- End -->


  <h2>Germany</h2>
  <!-- Germany Flag -->
  <div class="germany">
    <div class="row black"></div>
    <div class="row red"></div>
    <div class="row yellow"></div>
  </div>
  <!-- End -->

  <h2>Curaçao</h2>
  <!-- Curacao Flag -->
  <div class="curacao">
    <div class="small">
      <div id="star"></div>
    </div>
    <div class="large">
      <div id="star"></div>
    </div>
    <div class="row yellow"></div>
  </div>
  <!-- End -->

  <h2>Taiwan</h2>
  <!-- Italy Flag -->
  <div class="taiwan">
    <div class="square">
      <div class="symbol">
        <div class="circle"></div>
        <div class="triangle-1"></div>
        <div class="triangle-2"></div>
        <div class="triangle-3"></div>
        <div class="triangle-4"></div>
        <div class="triangle-5"></div>
        <div class="triangle-6"></div>
        <div class="triangle-7"></div>
        <div class="triangle-8"></div>
        <div class="triangle-9"></div>
        <div class="triangle-10"></div>
        <div class="triangle-11"></div>
        <div class="triangle-12"></div>
      </div>
    </div>
  </div>
  <!-- End -->

    <h2>Monaco</h2>
  <!-- Monaco Flag -->
  <div class="monaco">
    <div class="row red"></div>
    <div class="row white"></div>
  </div>
  <!-- End -->

  <h2>Qatar</h2>
  <!-- Monaco Flag -->
  <div class="qatar">
    <div class="white"></div>
    <div class="triangle-container first"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
  </div>
  <!-- End -->




</div>


<div class="footer">
  <div class="wrapper">
    <div class="by">
      <p class="made-by">A mini project by</p>
      <div class="grey-button">
        <div class="icon"></div>
        <div class="text-on-button" onclick="mixpanel.track('Click Personal Twitter Button');"><a href="https://twitter.com/zachferland">@zachferland</a></div>
      </div>
      <p class="made-in"> in Trento, Italy</p>
      <div class="italian-flag">
        <div class="green part"></div>
        <div class="white part"></div>
        <div class="red part"></div>
      </div>
    </div>
  </div>
</div>