  <div class="text-box">
    <h2>Curaçao</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <div class="curacao">
    <div class="small">
      <div id="star"></div>
    </div>
    <div class="large">
      <div id="star"></div>
    </div>
    <div class="row yellow"></div>
  </div>