  <div class="text-box">
    <h2>Germany</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <div class="germany">
    <div class="row black"></div>
    <div class="row red"></div>
    <div class="row yellow"></div>
  </div>