  <div class="text-box">
    <h2>Indonesia</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <div class="indonesia">
    <div class="row red"></div>
    <div class="row white"></div>
  </div>