 <div class="text-box">
   <h2>Italy</h2>
   <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
 </div>
 <div class="italy">
   <div class="column green"></div>
   <div class="column white"></div>
   <div class="column red"></div>
 </div>