  <div class="text-box">
    <h2>Qatar</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <div class="qatar">
    <div class="white"></div>
    <div class="triangle-container first"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
  </div>