  <div class="text-box">
    <h2>United States</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <div class="united-states">
    <div class="square">
      <div class="star-space"></div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
    </div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
  </div>